.vscode/
data/TemplateDataset/
data/Plastic HSI/
data/cbct_projections/
data/cbct_reconstructed/
data/astra_reconstructed/
data/20200225_AXI_final_code/
data/scalability_test_result/
data/20200225_AXI_final_code_simplified/
data/20240530_ITRI/
data/20240530_ITRI_downsampled_4x/
data/20250922_InnoCare/
data/20250922_InnoCare_TIFF/
data/CBCT_3D_SheppLogan/
data/20251110_Tako_XrayMachine/
data/20251111_Tako_XrayMachine/
data/20251114_Tako_XrayMachine/
data/20251117_Tako_XrayMachine/
data/20251119_Tako_IronWire/
data/20251119_Tako_SiC/
data/20251127_Tako_IronWire/
data/20251127_Tako_SiC/